* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}
button {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}
h1 {
  line-height: 1.2;
}
.container {
  position: relative;
  background-color: #fff;
  display: grid;
  margin: 2em;
  margin-top: 10em;
  max-height: 60vh;
  width: 35vw;
  user-select: none; /* Impede a seleção de texto */
  cursor: default; /* Define o cursor como padrão */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  /* A unidade "fr" permite dividir o espaço disponível em uma grade em frações iguais.
  Cada uma delas (colunas ou linhas) ocupam uma fração igual do espaço disponível. */
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0;
}

.square {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 100%;

  transition: background-color 0.5s;
}
.square:hover {
  background-color: rgba(
    128,
    128,
    128,
    0.5
  ); /* Cinza com 50% de transparência */
}
.header {
  padding: 30px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  max-width: 1000px;
  right: 50%; /* Ajuste essa posição para a direita */
  width: 100%; /* Largura dos botões */
}
#title {
  text-align: center;
  font-size: 80px;
  color: #333;
  font-weight: bold;
  margin-top: 20px; /* Espaçamento entre o título e o container */
  position: absolute; /* Posição absoluta para se sobrepor ao container */
  top: 0; /* Alinhar ao topo */
  left: 50%; /* Centralizar horizontalmente */
  transform: translateX(-50%); /* Centralizar horizontalmente */
  width: 100%; /* Largura total */
  padding: 10px 0; /* Espaçamento interno vertical */
}
#color-picker {
  width: 7em;
  height: 7em;
  border: none;
  transition: background-color 0.3s;
  outline: none;
}
#new-grid-button,
#rainbow-button,
#clear-button,
#eraser-button{
  width: 20%; /* Largura dos botões */
  max-height: 3em;
  background-color: #333333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin-top: 25px; /* Espaçamento entre os botões */
}

#new-grid-button,
#rainbow-button,
#clear-button,
#eraser-button, #color-picker {
  transition: transform 0.3s ease-in-out;
}

#new-grid-button:hover,
#rainbow-button:hover,
#clear-button:hover,
#eraser-button:hover, #color-picker:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

@media (max-width: 1024px) {
  .container {
    display: grid;
    min-height: 10em;
    max-height: 35em;
    margin: 2em;
    width: 40em;
    user-select: none;
    cursor: default;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;
  }
  #container {
    margin-top: 10em;
    position: relative;
  }
  .button-container {
    position: absolute;
    bottom: -50em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -120px;
    box-sizing: border-box;
    width: 100%;
  }

  #new-grid-button,
  #rainbow-button,
  #clear-button,
  #eraser-button {
    width: 20em;
    font-size: 25px;
  }
}

@media (max-width: 820px) {
  .container {
    display: grid;
    min-height: 10em;
    max-height: 35em;
    margin: 2em;
    width: 40em;
    user-select: none;
    cursor: default;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;
  }
  #container {
    margin-top: 10em;
    position: relative;
  }
  .button-container {
    position: absolute;
    bottom: -15em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -120px;
    box-sizing: border-box;
    width: 100%;
  }

  #new-grid-button,
  #rainbow-button,
  #clear-button,
  #eraser-button {
    width: 20em;
    font-size: 25px;
  }
}

/* Consulta de mídia para telas de até 600px */
@media (max-width: 768px) {
  .container {
    display: grid;
    min-height: 10em;
    max-height: 25em;
    margin: 2em;
    width: 35em;
    user-select: none;
    cursor: default;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;
  }
  #container {
    margin-top: 10em;
    position: relative;
  }
  .button-container {
    position: absolute;
    bottom: -15em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -120px;
    box-sizing: border-box;
    width: 100%;
  }

  #new-grid-button,
  #rainbow-button,
  #clear-button,
  #eraser-button {
    width: 20em;
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  #title {
    font-size: 50px;
  }
  .container {
    min-height: 10em;
    max-height: 20em;
  }
  .button-container {
    top: 65%;
  }
  #new-grid-button,
  #rainbow-button,
  #clear-button,
  #eraser-button {
    width: 13em;
    font-size: 20px;
  }
} 

/* Consulta de mídia para telas de até 390px */
@media (max-width: 390px) {
  #title {
    font-size: 40px;
  }
  #container {
    margin-top: 7em;
  }
  .container {
    min-height: 10em;
    max-height: 15em;
  }
  .button-container {
    top: 40%;
  }
  #new-grid-button,
  #rainbow-button,
  #clear-button,
  #eraser-button {
    width: 13em;
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  #title {
    font-size: 40px;
  }
  #container {
    margin-top: 7em;
  }
  .container {
    min-height: 10em;
    max-height: 15em;
  }
  .button-container {
    top: 40%;
  }
  #new-grid-button,
  #rainbow-button,
  #clear-button,
  #eraser-button {
    width: 13em;
    font-size: 20px;
  }
}
